In [317]:
import pandas as pd
import numpy as np
import requests
import os
import shutil
import time

In [318]:
# 따옴표 없애주는 함수
def dequote(s):
    '''
    If a string has single or double quotes aroud it, remove them.
    Make sure the pair of quotes match.
    If a matching pair of quotes is not found, return the string unchanged.
    '''
    if (s[0]==s[-1]) and s.startswith(("'",'"')):
        return s[1:-1]
    return s

In [364]:
target = 'TYSY'

In [365]:
practice = pd.read_csv('./data/chembl_csv/kang/TYSY.csv', sep=';')

In [366]:
practice = practice[['Molecule ChEMBL ID','Standard Value','Standard Relation']]

In [367]:
practice.head()

  Molecule ChEMBL ID  Standard Value Standard Relation
0        CHEMBL34259         29000.0               '='
1       CHEMBL388340            54.0               '='
2       CHEMBL389051          5000.0               '='
3       CHEMBL389051           180.0               '='
4       CHEMBL374172         17000.0               '>'

In [368]:
practice['Standard Relation'] = practice['Standard Relation'].apply(lambda x : str(x))
practice['Standard Relation'] = practice['Standard Relation'].apply(dequote)
practice['Standard Relation'] = practice['Standard Relation'].replace('nan','')
practice['Standard Value'] = practice['Standard Value'].fillna(10000)

In [369]:
practice.head()

  Molecule ChEMBL ID  Standard Value Standard Relation
0        CHEMBL34259         29000.0                 =
1       CHEMBL388340            54.0                 =
2       CHEMBL389051          5000.0                 =
3       CHEMBL389051           180.0                 =
4       CHEMBL374172         17000.0                 >

In [370]:
df = pd.DataFrame(columns=practice.columns)

for i in range(len(practice)):
    if (practice.loc[i, 'Standard Relation'] in ('>','>=')) and (practice.loc[i, 'Standard Value'] == 1000):
        pass
    elif (practice.loc[i, 'Standard Relation'] in ('>','>=')) and (practice.loc[i, 'Standard Value'] <= 500):
        df = df.append(practice.iloc[i])
    
    elif (practice.loc[i, 'Standard Relation'] not in ('>','>=')) and (practice.loc[i, 'Standard Value'] <= 1000):
        df = df.append(practice.iloc[i])
    
    elif (practice.loc[i, 'Standard Relation'] in ('<','<=')) and (practice.loc[i, 'Standard Value'] <= 1000):
        df = df.append(practice.iloc[i])
    else:
        pass

In [371]:
df['Standard Relation'].value_counts()

=    231
Name: Standard Relation, dtype: int64

In [372]:
# CSV 파일 출력
df.to_csv('D:/dev/workspace/chem/data/chembl_csv/kang/list/TYSY.csv')

#### 데이터 생성

In [207]:
ligand = []

for i in protein_name:
    name = i + '.mol'
    ligand.append(name)

In [208]:
# 중복체크 로직
path = 'D:/dev/workspace/chem/data/output/PLK1_2OWB_Active'

compound = []
for i in ligand:
    if i in os.listdir(path):
        compound.append(i)

len(compound)

99

In [209]:
# mol 파일 생성
train_dir = 'D:/dev/workspace/chem/data/chembl_csv/' + target

start = time.time()

for i in compound:
    url = 'https://www.ebi.ac.uk/chembl/api/data/molecule/' + i
    m1 = requests.get(url).content.decode('utf-8').split('\n')

    f = open(train_dir+'/'+i, 'w')
    f.write(name+'\n')

    for line in m1[1:-4]:
        f.write(line+'\n')
        
f.close()
print('time:', time.time()-start)

time: 116.08554649353027

In [211]:
# Mol 중복 파일 옮기기
start = time.time()

protein = 'FAK1_3BZ3_Active'
duplicate_path = 'D:/dev/workspace/chem/data/mol_duplicate'
output2_path = 'D:/dev/workspace/chem/data/output2/' + protein
mol_path = 'D:/dev/workspace/chem/data/output/' + protein

for i in os.listdir(output2_path):
    if i in os.listdir(mol_path):
        shutil.move(output2_path +'/'+ i, duplicate_path + '/' + i)
    else:
        shutil.copy(output2_path + '/'+i, mol_path + '/' + i)
            
print('time:', time.time()-start)

time: 0.1196749210357666

In [ ]:
source = os.path.join(train_dir,name)
destination = os.path.join(base_dir, 'trash')

In [ ]:
source_file = os.listdir(source)

In [ ]:
active_path = 'D:\dev\workspace\Geometry\Authalic\data\set'
check = os.listdir(os.path.join(active_path, 'ACES_1E66_Active'))

In [ ]:
# 중복된 데이터 제거 
for i in source:
    if i in check:
        shutil.move(source+'/'+i, destination+'/'+i)