### Pandas 회귀(Boston House)

In [5]:
# Boston Housing Price 데이터프레임 활용

from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
boston = load_boston()

In [3]:
df = pd.DataFrame(boston.data, columns = boston.feature_names)

In [4]:
df['const'] = np.ones([df.shape[0]])
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,const
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,1.0
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,1.0
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,1.0
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,1.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,1.0

In [14]:
(n,m)

(506, 14)

In [6]:
# 행, 열 수 확인
n, m = df.shape 

# 데이터 입력
X = tf.placeholder(tf.float64, shape=(n,m)) # n,m 만큼 공간 확보
y = tf.placeholder(tf.float64, shape=(n,1)) # 1열로 나오게 

# 전치행렬
XT = tf.transpose(X)

# 모델 생성: 역행렬 및 가중치 구함
w = tf.matmul(tf.matmul(tf.matrix_inverse(tf.matmul(XT, X)), XT), y)

# 예측치 확인
y_pred = tf.matmul(X,w)

In [16]:
y_pred[19]

In [18]:
# 모델 구현 

with tf.Session() as sess:
    y_pred_ = sess.run(y_pred,
                       feed_dict={X: df.values, y: boston.target.reshape(-1, 1)})

print("예측한 집값 :", y_pred_[19], "\n실제 집값 :", boston.target[19])

예측한 집값 : [18.40613603]
실제 집값 : 18.2